*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1335px;
    margin: 0 auto;
}
li{
    list-style: none;
    margin-left: 30px;
    a{
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: #000;
    }
}
header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 9px 0 19px 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    // background-color: #fff;
    .utility{
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
            li{
                padding-left: 15px;
                a{
                    font-size: 11px;
                    text-align: right;
                }
            }
            .menu-item-with-icon{
                position: relative;
                padding-right: 12px;
                &::before{
                    content: ' ';
                    position: absolute;
                    left: 0;
                    width: 12.7px;
                    height: 12.7px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url(images/globe-black.svg) 50% 50%;
                    background-size: 100% auto;

                }
                &::after {
                    content: '';
                    position: absolute;
                    right: 1px;
                    width: 5px;
                    height: 5px;
                    border: 1px solid #000;
                    border-width: 0px 1px 1px 0;
                    top: 33%;
                    transform: rotate(45deg);
                    transition: all 0.2s ease-in-out;
                  }
            }
        }
    }
    .menu-with-logo{
        margin-top: 14px;
        display: flex;
        align-items: center;
        .logo-wrap{
            max-width: 165px;
            img{
                object-fit: cover;
            }

        }
        .menu-with-btn{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .menu{
                display: flex;
                align-items: center;
                max-width: 545px;
            }
            .icon-with-btn{
                max-width: 190px;
                display: flex;
                align-items: center;
                
                .cta{
                    padding: 9px 23px;
                    background: #f3af44;
                    a{
                       display: inline-block; 
                       font-size: 16px;
                       font-weight: bold;
                       line-height: 1.63;
                       text-align: left;
                       color: #fff;
                    }
                }
            }
        }
    }
}
.banner{
    height: 570px;
    display: flex;
    align-items: center;
    overflow: hidden;
    .bg-img{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        max-height: 661px;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 350px;
            width: 42%;
            max-height: 672px;
            height: 100%;
            background: #56c2b5;
            transform: skewX(-21deg);
            z-index: -2;


        }
    }
    .img-with-content-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .content{
            max-width: 600px;
            
            h1{
                font-size: 61px;
                line-height: 1.16;
                text-align: left;
                color: #000;
                padding-bottom: 18px;
            }
            p{
                font-size: 24px;
                line-height: 1.5;
                letter-spacing: 0.71px;
                text-align: left;
                color: #000;
            }
        }
        .img-wrap{
            max-height: 320px;
            max-width: 532px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                z-index: 2;
            }
            &::before{
                content: ' ';
                position: absolute;
                top: -80px;
                right: -45px;
                width: 226px;
                height: 217px;
                background: url(images/Group17480.png);
                z-index: -1;
            }
        }
    }
}
.sticky-nav{
    display: flex;
    align-items: center;
    margin-top: -40px;
    .row{
        border-radius: 10px;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        ul{
            display: flex;
            align-items: center;
            .active{
                background: orange;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
               
                a{
                    color: #fff;
                    position: relative;
                    &::after{
                        content: " ";
                        position: absolute;
                        right: -15px;
                        width: 12px;
                        height: 12px;
                        border: 1px solid #fff;
                        border-width: 0px 3px 3px 0;
                        top: 20%;
                        transform: rotate(-45deg);
                    }
                }
            }
            li{
                padding: 22px 63px 24px 63px;
                margin: 0 auto;
                a{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.22;
                    letter-spacing: 0.23px;
                    color: #000;
                }
            }
        }

    }
}
.col-two-grid{
    display: flex;
    align-items: center;
    margin: 120px 0;
    .col-two-wrapper{
         display: flex;
         align-items: center;
         .col-two{
             width: 50%;
             .content{
                 max-width: 500px;
             }
             h2{
                font-size: 49px;
                line-height: 1.35;
                color: #000;
             }
             p{
                font-size: 24px;
                line-height: 1.5;
                letter-spacing: 0.71px;
                color: #000;
             }
             .img-wrap{

                 img{
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     border-radius: 10px;
                 }
             }
         }
    }
}
.img-with-text{
    display: flex;
    align-items: center;
    padding: 120px 0;
    background: #c9c9c9;
    .wrapper{
        
        h3{
            font-size: 49px;
            line-height: 1.35;
            color: #000;
            margin-bottom: 55px;
        }
        .row-reverse{
           flex-direction: row-reverse;
        }
        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            .col-two{
                .img-wrap{
                    max-width: 630px;
                    max-height: 520px;
                    img{
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }
                }
                .content{
                    max-width: 520px;
                }
                h4{
                    font-size: 35px;
                    line-height: 1.29;
                    color: #000;
                }
                p{
                    font-size: 24px;
                    line-height: 1.5;
                    color: #000;
                }
            }
        }
    }
}
.cards{
    display: flex;
    align-items: center;
    padding: 120px 0;
    .content{
        max-width: 667px;
        h3{
            font-size: 49px;
            line-height: 1.35;
            color: #000;
        }
        p{
            font-size: 24px;
            line-height: 1.5;
            letter-spacing: 0.71px;
            color: #000;
        }
    }
    
    .col-three-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        width: calc(100% + 10px);
        margin-left: -10px;
        
        .col-three{
            width: calc(33.33% - 20px);
            max-height: 420px;
            margin: 0 10px;
            padding: 37px 37px 0 37px;
            border-radius: 10px;
            border: 2px solid #ef4e28;
            .img-wrap{
                max-width: 137px;
                max-height: 123px;
                img{
                    object-fit: contain;
                }
            }
            h5{
                font-size: 35px;
                line-height: 1.29;
                color: #ef4e28;
                padding-top: 50px;
                padding-bottom: 16px;
            }
            p{
                font-size: 24px;
                line-height: 1.5;
                color: #ef4e28;
            }
        }

    }
}
.cards-with-content{
    display: flex;
    align-items: center;
    padding: 110px 0;
    background: #56c2b5;
    .col-two-wrapper{
        display: flex;
        align-items: center;
        width: 100%;
        .col-two{
            width: 50%;
            .content{
                max-width: 420px;
                h6{
                    font-size: 49px;
                    line-height: 1.35;
                    color: #fff;
                }
                p{
                    font-size: 24px;
                    line-height: 1.5;
                    letter-spacing: 0.71px;
                    color: #fff;
                }
            }
            .col-four-wrapper{
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .col-four{
                    width: calc(50% - 20px);
                    margin: 10px;
                    height: 260px;
                    border: 2px solid #fff;
                    padding: 25px;
                    border-radius: 10px;
                    .img-wrap{
                        img{
                            object-fit: contain;
                        }
                    }
                    h6{
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 1.27;
                        color: #fff;
                    }

                }
            }

        }
    }
}
.about{
    background: #2a4093;
    padding: 100px 0;
    .content{
        max-width: 955px;
        margin: 0 auto;
        text-align: center;
        h6{
            font-size: 49px;
            line-height: 1.35;
            color: #fff;
            padding-bottom: 24px;
        }
        p{
            font-size: 24px;
            line-height: 1.5;
            color: #fff;
            padding-bottom: 34px;
        }
        ul{
            display: flex;
            text-align: center;
            margin: 0 auto;
            justify-content: center;

            .cta-1{
                padding: 10px 20px 10px;
                background-color: #f3af44;
                margin: 0 17px;
                a{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.45;
                    color: #f4f4f4;
                    display: inline-block;
                }
            }
            .cta-2{
                padding: 10px 20px 10px;
                border: solid 2px #fff;
                background-color: transparent;
                margin: 0 17px;
                transform: transition 0.3s ease-in-out;
                &:hover{
                    background: #f3af44;
                }
                a{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.35;
                    color: #fff;
                }

            }
        }
    }
}